* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Roboto Mono', monospace;
    outline: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

h2 {
    opacity: 0.4;
}

#display, #nav {
    width: 330px;
    display: grid;
    grid-gap: 20px;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
    display: grid;
    
}

.tips {
    width: 330px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

nav > button {
    transition: background-color 1s, color 1s;
    transition-timing-function: ease-in-out;
}

button:hover {
    background-color: grey;
    color: white;
    transition-timing-function: ease-in-out;
}

.textAppear {
    animation: appear 0.5s;
}

#back {
    width: 100px;
    padding: 5px;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    transition: background-color 1s, color 1s;
    transition-timing-function: ease-in-out;
    margin-top: 10px;
    display: none;
}

a {
    color: white;
    padding: 0px;
    text-decoration: none;
    opacity: 0.7;
}

a:visited {
    color: white
}

#back:hover {
    background-color: grey;
    color: white;
    transition-timing-function: ease-in-out;
}

@keyframes appear {
    0% { opacity: 0 }
    50% { opacity: 0.5 }
    100% { opacity: 1 }
}